@import "pizza/pizza-card";
@import "variables";

body {
    background-color: @mainBgColor;
}

nav {
    position: sticky;
    top: 0px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;

    .my-badge {
        .my-text {
            color: white;
            background-color: @mainBorderColor;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        svg {
            transform: translateY(200px);
        }
    }
}

.container {
    // background-color: @mainBgColor;

    .caption {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 25px;

        .title {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 5px;

            label {
                font-size: 2.5rem;
                font-weight: bolder;
            }

            span {
                display: flex;
                background-color: @mainBorderColor;
                color: white;
                font-weight: bold;
                border-radius: 100%;
                justify-content: center;
                align-items: center;
                height: 25px;
                width: 25px;
                padding: 5px;
            }
        }

        .category-list {
            input[type='radio'] {
                visibility: hidden;
                height: 0;
                width: 0;
            }

            label {
                padding: 5px 10px;
                border-radius: 5px;
            }

            input[type="radio"]:not(:checked)+label {
                background-color:  @mainBgColor;
                color: @mainColor;
            }

            input[type="radio"]:checked+label {
                background-color: @mainBorderColor;
                color: white;
            }
        }
    }
}