@media(min-width: 576px) {
    #pizza_list {
      display: grid;
      grid-template-columns: 1fr;
      width: 100%;
    }
  }
  
  @media(min-width: 848px) {
    #pizza_list {
      display: grid;
      grid-template-columns: 1fr 1fr;
      width: 100%;
    }
  }
  
  @media(min-width: 1080px) {
    #pizza_list {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      width: 100%;
    }
  }

  @media(min-width: 1100px) {
    #pizza_list {
      width: 100%;
    }
  }

  @media(min-width: 1200px) {
    #pizza_list {
      width: 90%;
    }
  }

  @media(min-width: 1400px) {
    #pizza_list {
      width: 80%;
    }
  }