@import "main";
@import 'variables';

body {
    grid-template-columns: 1fr;
}

.chart-container {
    width: 50vw;
    height: 50vh;
    margin: 25px;
    border: 1px solid @sideColor;
    box-shadow: 0px 0px 5px 0px @sideColor;
}